html,body
{
    width: 100%;
    height: 100%;padding: 0;
    margin: 0;
}
@font-face {
    font-family: Myriad_set;
    src: url("/assets/font/Myriad_set.ttf")
}

.container
{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}
.top21
{
    flex: 100;padding-top: 15px;
    font-family: Myriad_set;
    color: #adadad;
    width: 500px;
    height: 500px;
}

.top22
{

    font-size: 15px;
    color: #adadad;
    text-decoration: none;
}

.top22_jianbian1
{
    font-size: 15px;
    transition: all 0.5s linear;
    color: white;
    text-decoration: none;
}
.top22_jianbian2
{
    font-size: 15px;
    color: #adadad;
    text-decoration: none;
    transition: all 0.5s linear;
}

.top21_chinese
{
    flex: 100;padding-top: 14px;
    font-family: Myriad_set;
}

.top22_chinese
{
    color: #adadad;font-size: 13px;
    font-family: Myriad_set;
    text-decoration: none;
}
.top22_chinese_jianbian1
{
    font-size: 13px;
    transition: all 0.5s linear;
    color: white;
    text-decoration: none;
}
.top22_chinese_jianbian2
{
    font-size: 13px;
    color: #adadad;
    text-decoration: none;
    transition: all 0.5s linear;
}
.mba_ico
{
    background-size: cover;-webkit-background-size: cover;-o-background-size: cover;
    height: 100%;width: 100%;
    text-align: center;
    background:url("/assets/img/mac/mba_ico.svg") no-repeat center 9px;
    background-size: 55px 55px;
}
.mbp13_ico
{
    background-size: cover;-webkit-background-size: cover;-o-background-size: cover;
    height: 100%;width: 100%;
    text-align: center;
    background:url("/assets/img/mac/mbp13_ico.svg") no-repeat center 11px;
    background-size: 55px 55px;
}
.mbp16_ico
{
    background-size: cover;-webkit-background-size: cover;-o-background-size: cover;
    height: 100%;width: 100%;
    text-align: center;
    background:url("/assets/img/mac/mbp16_ico.svg") no-repeat center 14px;
    background-size: 55px 55px;
}
.iMac_ico
{
    background-size: cover;-webkit-background-size: cover;-o-background-size: cover;
    height: 100%;width: 100%;
    text-align: center;
    background:url("/assets/img/mac/imac_ico.svg") no-repeat center 10px;
    background-size: 55px 55px;
}
.macPro_ico
{
    background-size: cover;-webkit-background-size: cover;-o-background-size: cover;
    height: 100%;width: 100%;
    text-align: center;
    background:url("/assets/img/mac/macPro_ico.svg") no-repeat center 10px;
    background-size: 55px 55px;
}
.noline
{
    color: #326bfc;
    text-decoration: none;
}
.noline:hover
{

    color: #326bfc;
    text-decoration: none;
    border-bottom: 1px solid;
}

.buy
{
    width:47px;height:30px;background-color:#0c64dc;border-radius:30px;
    color: white;padding-left: 18px;padding-top: 8px;font-size: 15px;
}
.buy:hover
{
    width:47px;height:30px;background-color:#1672ef;border-radius:30px;
    color: white;padding-left: 18px;padding-top: 8px;font-size: 15px;
}
.buy_small
{
    width:36px;height:23px;background-color:#0c64dc;border-radius:30px;
    color: white;padding-left: 12px;padding-top: 5px;font-size: 10px;
}
.buy_small:hover
{
    background-color:#1672ef;border-radius:30px;
    color: white;padding-left: 12px;padding-top: 5px;font-size: 10px;
}
.mbp13
{
    background-size: cover;-webkit-background-size: cover;-o-background-size: cover;
    height: 100%;width: 100%;
    text-align: center;
    background:url("/assets/img/mac/mac_mbp13.jpg") no-repeat 530px 90px;
    background-size: 630px 240px;
}
.mbp16
{
    background-size: cover;-webkit-background-size: cover;-o-background-size: cover;
    height: 100%;width: 100%;
    text-align: center;
    background:url("/assets/img/mac/mac_mbp16.jpg") no-repeat 100px 80px;
    background-size: 630px 420px;
}
.mba
{
    background-size: cover;-webkit-background-size: cover;-o-background-size: cover;
    height: 100%;width: 100%;
    text-align: center;
    background:url("/assets/img/mac/mac_mba.jpg") no-repeat 500px 130px;
    background-size: 800px 150px;
}